<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="F03_CreateExcelAndSharePointList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="F03_CreateExcelAndSharePointList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\InHouseSlipMaking.Log\F03_CreateExcelAndSharePointList.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
    <appSettings>
      <add key="Webservice.TimeOut" value="1000000"/>
    </appSettings>
    <applicationSettings>
        <F03_CreateExcelAndSharePointList.Properties.Settings>
            <setting name="F03_CreateExcelAndSharePointList_CreateExcelAndUpdateSharePointListWS_CreateExcelAndUpdateSharePointListWS"
                serializeAs="String">
                <value>http://localhost:51046/InHouseSlipMaking.Web/Webservices/CreateExcelAndUpdateSharePointListWS.asmx</value>
            </setting>
        </F03_CreateExcelAndSharePointList.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <F03_CreateExcelAndSharePointList.Properties.Settings>
            <setting name="PATH_SETTING_FILE" serializeAs="String">
                <value>Setting.ini</value>
            </setting>
        </F03_CreateExcelAndSharePointList.Properties.Settings>
    </userSettings>
</configuration>